---
import Layout from "../layouts/Layout.astro";
import { Landing } from "../components/Landing";
import { Nav } from "../components/Nav";
import { PropSlalom } from "../components/PropSlalom";
import { ChefsTable } from "../components/ChefsTable";
import { InterstitialImg } from "../components/InterstitialImg";
import { Footer } from "../components/Footer";
// import Banner from "../components/Banner";
import client from "../../tina/__generated__/client";
import type { Props } from "../../tina/__generated__/types";
import { Carousel } from "../components/Carousel";

const propResponse = await client.queries.propsConnection();
const PropsArr = propResponse.data.propsConnection.edges?.map((item) => {
  return item?.node as Props;
}) as Props[];

const PropData = PropsArr?.map((prop) => {
  return {
    title: prop.title,
    body: prop.body,
    link_url: prop.link_url,
    link_text: prop.link_text,
    image: prop.image,
    image_secondary: prop.image_secondary,
    image_alt: prop.image_alt,
    image_bg: prop.image_bg,
  };
});
---

<Layout title="Delicieux - A French Restaurant">
  <!-- <Banner /> -->
  <Nav client:load />
  <main>
    <section class="space-y-12 sm:space-y-24">
      <Landing bgImage={"landing"} content={true} />
      <img
        src="/fancyLines1.png"
        alt="fancy lines"
        class="w-[90%] md:max-w-[550px] h-auto m-auto"
      />
    </section>

    <section>
      <PropSlalom prop={PropData} client:load />
    </section>
    <section>
      <ChefsTable />
    </section>
    <InterstitialImg label="Restaurant" src="/interstitial.jpg" />
  </main>
  <Footer />
</Layout>

<style>
  section {
    @apply max-w-7xl m-auto;
  }
</style>
