---
import Layout from '../layouts/Layout.astro';
import { Landing } from "../components/Landing";
import { Nav } from "../components/Nav";
import {PropSlalom, PropProps} from '../components/PropSlalom'
import { ChefsTable } from "../components/ChefsTable";
import { InterstitialImg } from "../components/InterstitialImg";
import { Row } from "../components/Row";
import { StaffInfo, StaffProps } from "../components/StaffInfo";
import { Footer } from "../components/Footer";
import Banner from "../components/Banner";



function determineSide(index: number) {
	return index % 2 == 0 ? 'right' : 'left'
}



const Prop: PropProps = {
	title: 'Qualité',
	description: "Lorem ipsum dolor sit amet consectetur. Nisl diam pellentesque proin id lectus fermentum. Quisque amet blandit senectus arcu faucibus ut. Massa rhoncus dui aliquam sed. Vitae porttitor aliquet turpis id quam dolor hac massa mi. Malesuada netus vitae lobortis in blandit. Nibh elementum tellus nec aenean senectus leo massa.",
	link: {label: "Check out our menu", url: '/menu'},
	images: ['/quality.png', '/quality2.png']
}


const Staff: StaffProps[] = [
	{
		id: 1,
		title: 'Chef',
		name: 'Jared Steen',
		description: 'With accolades from the Goodyear Guide early in his career, Jared has firmly established himself as a visionary in the world of fine dining. After having graduated from the Culinary Institute of America, he spent three years immersed working in different restaurants across Paris. With over 12 years in the industry, Chef Jared brings a high level of passion & skill into his delicious culinary experiences.',
		image: '/chef.png',
		icon: '/knife.svg'
	},
	{
		id: 2,
		title: 'Sous',
		name: 'Andrew Hemingway',
		description: "With a career spanning over seven years in the culinary scene of New York, Chef Hemingway brings a wealth of experience and expertise to our kitchen. While Andrew isn't a man of many words, his culinary genius speaks volumes.",
		image: '/sous.png',
		icon: '/tongs.svg'
	},
	{
		id: 3,
		title: 'Pastry Chef',
		name: 'Gerard Lambert',
		description: "Chef Gerard's life has revolved around pastries & bread ever since childhood. His father took over their family's bakery & so began Gerard's culinary journey. Building on his natural talent, Gerard sought to refine his skills and expand his horizons, leading him to spend two transformative years learning under the esteemed pastry chef Elizabeth Falkner.",
		image: '/pastry.png',
		icon: '/rollingPin.svg'
	},
	{
		id: 4,
		title: 'Director',
		name: 'Rebecca Horton',
		description: 'What often gets overlooked in a restaurant is all that really goes in to keeping it together. Rebecca is the master & keeper of everything that makes Délicieux run on a day-to-day basis. With over 10 years of experience & a Masters in Business Administration, she is responsible for everything from bookings to communicating finances between the kitchen & front of the house.',
		image: '/director.png',
		icon: '/computer.svg'
	},
]


---





<Layout title="Delicieux - A French Restaurant">
	<Banner />
	<Nav />
	<main>
		<section class="space-y-24">
			<Landing />
			<img src="/fancyLines1.png" alt="fancy lines" class="w-[90%] md:max-w-[550px] h-auto m-auto">
		</section>
		<section>
			<PropSlalom prop={Prop} client:load />
		</section>
		<section>
			<ChefsTable />
		</section>
		<InterstitialImg label="Restaurant" src="/interstitial.jpg" />
		<section class="pb-16">
			{Staff.map((person) => {
				return (
					<Row side={determineSide(person.id)}>
						<StaffInfo person={person} side={determineSide(person.id)} />
					</Row>
				)
			})}
		</section>
	</main>
	<Footer />
</Layout>

<style>
section {
	@apply max-w-7xl m-auto;
}

</style>
