---
import Layout from "../layouts/Layout.astro";
import { Section } from "../components/Menu";
import client from "../../tina/__generated__/client";
import Banner from "../components/Banner";
import { Footer } from "../components/Footer";
import { NavDark } from "../components/NavDark";

const menuResponse = await client.queries.menuConnection();
const items = menuResponse.data.menuConnection.edges?.map((item) => {
  return { slug: item?.node };
}) as any;
---

<Layout title="Menus - Delicieux">
  <!-- <Banner /> -->
  <NavDark client:load />
  <main class="py-32 space-y-16">
    <Section data={items} client:load />
  </main>
  <Footer />
</Layout>
