---
import Layout from '../layouts/Layout.astro';
import { Nav } from "../components/Nav";
import { Section } from "../components/Menu";
import client from "../../tina/__generated__/client";
import Banner from "../components/Banner";
import { Footer } from "../components/Footer";

const menuResponse = await client.queries.menuConnection()
const items = menuResponse.data.menuConnection.edges?.map((item) => {
	return { slug: item?.node }
}) as any

// const bodyText = items?.map((item) => item.slug?.body.children[0].children[0].text)

// console.log(items);

const currentPath = Astro.url.pathname
---

<Layout title="Menus - Delicieux">
   <Banner />
   <Nav pathname={currentPath} />
   <main class="py-32 space-y-16">
      <!-- <Tabs client:load /> -->
      <Section data={items} client:load />
   </main>
   <Footer />
</Layout>